<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="3ff3b13b-f06a-4a9b-851f-f37af9cd49c4"
            Publisher="CN=GAN_kindsr"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="3ff3b13b-f06a-4a9b-851f-f37af9cd49c4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NailpodManager.Test</DisplayName>
    <PublisherDisplayName>GAN_kindsr</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App"
        Executable="$targetnametoken$.exe"
        EntryPoint="NailpodManager.Test.App">
      <uap:VisualElements
        DisplayName="NailpodManager.Test"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="NailpodManager.Test"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <uap:Capability Name="userAccountInformation"/>
    <Capability Name="internetClient"/>
    <uap:Capability Name="enterpriseAuthentication"/>
  </Capabilities>
</Package>